{% extends 'base.html.twig' %}

{% block body %}
<header>
    <object data="croix-et-collombe.svg" type="image/svg+xml"></object>
    <div class="text">
        <h1>PRIER ENSEMBLE<span id="point">.</span></h1>
        <div class="division"></div>
        <h2>Ou comment la foi peut rendre heureux</h2>
        <div class="division"></div>
        <nav>
            • <a id="ll" href="/priere/create">Partager sa prière</a>
            • 
        </nav>
    </div>
</header>
<main>
    <section id="caroussel">
        {% for citation in citations %}
            <div class="citation">
                <p>« {{ citation.Content }} » ( {{ citation.Author }} )</p>
            </div>
        {% endfor %}
    </section>
    <div class="bandeau">
        <h3>PRIÈRES DE LA COMMUNAUTÉ</h3>
    </div>
    {% for priere in prieres %}
        <section class="prieres {{ (priere.Background) ? 'blue-background' : 'img-en-premier' }}">
            <div>
                <h3>{{ priere.Title }} {{ (priere.Author) ? '(' : ''}} {{ priere.Author }} {{ (priere.Author) ? ')' : ''}}</h3>
                <p>{{ priere.content }}</p>
            </div>
            <img src="/uploads/{{priere.ImageFilename}}" alt="{{priere.ImageDescription}}"/>
        </section>
    {% endfor %}
    <!--
    <section class="prieres">
        <div id="simeon">
            <h3>Cantique de Syméon (Luc 2, 29-32)</h3>
            <p>
                    “Maintenant, ô Maître souverain, tu peux laisser ton serviteur s’en aller en paix, selon ta parole.
                    Car mes yeux ont vu le salut
                    que tu préparais à la face des peuples :
                    lumière qui se révèle aux nations et donne gloire à ton peuple Israël."
                    Puis conclure en disant :
                    “Gloire au Père, au Fils et au Saint Esprit
                    Comme il était au commencement, maintenant et toujours, et dans les siècles des siècles
                    Amen.”
            </p>
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Aert_de_Gelder_-_Het_loflied_van_Simeon.jpg/681px-Aert_de_Gelder_-_Het_loflied_van_Simeon.jpg" alt="Le vieux Syméon">
    </section>
    <section class="prieres img-en-premier">
        <div id="magnificat">
            <h3>Magnificat</h3>
            <p>
                    Mon âme exalte le Seigneur,
                    exulte mon esprit en Dieu, mon Sauveur !
                    Il s’est penché sur son humble servante ;
                    désormais, tous les âges me diront bienheureuse.

                    Le Puissant fit pour moi des merveilles ;
                    Saint est son nom !

                    Son amour s’étend d’âge en âge
                    sur ceux qui le craignent.

                    Déployant la force de son bras, il disperse les superbes.
                    Il renverse les puissants de leurs trônes, il élève les humbles.

                    Il comble de biens les affamés,
                    renvoie les riches les mains vides.

                    Il relève Israël son serviteur, il se souvient de son amour,
                    de la promesse faite à nos pères, en faveur d’Abraham et de sa race, à jamais.

                    Gloire au Père, et au Fils, et au Saint-Esprit,
                    pour les siècles des siècles.
                    Amen.
            </p>
        </div>
        <img src="https://images-e-venise.global.ssl.fastly.net/pics/musees-florence/offices/botticelli-vierge-madonna-du-magnificat-detrempe-sur-bois-1483-gallerie-offices-uffizi-florence-italie-05.jpg?width=1354&dpr=1&quality=85" alt="La madone du magnificat">
    </section>
    <section class="prieres">
        <div id="bonhoeffer">
            <h3>Prière du soir de Dietrich Bonhoeffer</h3>
            <p>
                    Seigneur Dieu, je te rends grâce d'avoir mené à terme cette journée: <br>
                    Je te rends grâce d’apaiser mon corps et mon âme.<br>
                    Ta main était sur moi et m’a gardé et préservé. 
                    Pardonne mon manque de foi et tout le mal de cette journée.<br>
                    Aide-moi à pardonner à ceux qui m’ont fait tort.<br>
                    Fais-moi dormir paisiblement sous ta garde et préserve-moi des tentations de la nuit.<br>
                    Je te confie les miens et cette maison, je te confie mon corps et mon âme.<br>
                    Que ton saint nom soit loué.<br>
            </p>
        </div>
        <img src="https://ekladata.com/PBFf-WskgpEZ8_iL0L4U55WmLQQ.jpg" alt="La vierge marie en train de prier">
    </section>
    <section class="prieres img-en-premier">
        <div id="trinite">
            <h3>Prière d'Elisabeth de la Trinité</h3>
            <p>
                    Sois là, Seigneur, soutiens-moi.<br>
                    Détache mon cœur de tout, qu’il soit bien libre pour que rien ne l’empêche de Te voir.<br> 
                    Brise ma volonté, abaisse mon orgueil, ô Toi si humble de cœur.<br>
                    Mon cœur, façonne-le pour qu’il puisse être Ta demeure aimée,<br>
                    pour que Tu viennes y reposer, y converser avec moi dans une idéale union.<br>
                    Que ce pauvre cœur, Seigneur, ne fasse plus qu’un avec le Tien.<br>
                    Toi seul peux combler sa solitude. Que je ne cherche rien en dehors de Toi seul<br>
                    Tu es capable de me contenter.<br>
                    Ainsi soit-il.
            </p>
        </div>
        <img src="http://www.chouette-calendrier.com/images/fr/teaser/fete-de-la-sainte-trinite.jpg" alt="La Sainte Trinité">
    </section>
    -->
</main>
<footer>
    © Erwan ROUSSEL, 2020
</footer>
{% endblock %}
