{% extends 'base.html.twig' %}

{% block title %} Partager sa prière {% endblock %}

{% block body %}
<header>
    <object id="mobile-icon" data="/croix-et-collombe.svg" type="image/svg+xml"></object>
    <div class="text">
        <div class="division"></div>
        <h1>Partager sa prière</h1>
        <div class="division"></div>
    </div>
</header>
<div class="padding">
    {{ form(form) }}
</div>
{% endblock %}