<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}🕊️ Prier Ensemble{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="/style.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
        <script src="/script.js" defer></script>
        {% endblock %}
    </body>
</html>
